USE [TURNERO_WEB11]
GO
/****** Object:  Table [dbo].[T_CENTROS]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CENTROS](
	[ID_CENTRO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CENTRO] [varchar](50) NULL,
	[DOMICILIO_CENTRO] [varchar](100) NULL,
	[LOCALIDAD_CENTRO] [varchar](100) NULL,
	[EMAIL_CENTRO] [varchar](50) NULL,
	[NRO_CONTACTO_1] [varchar](50) NULL,
	[NRO_CONTACTO_2] [varchar](50) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
 CONSTRAINT [PK__T_CENTRO__0B7A659D03129CFE] PRIMARY KEY CLUSTERED 
(
	[ID_CENTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_COBROS]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COBROS](
	[ID_COBRO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TURNO] [int] NULL,
	[ESTADO] [varchar](2) NULL,
	[IMPORTE] [decimal](10, 2) NULL,
	[FECHA_COBRO] [date] NULL,
	[FORMA_PAGO] [varchar](50) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
 CONSTRAINT [PK__T_COBROS__4BD0F83A24E96491] PRIMARY KEY CLUSTERED 
(
	[ID_COBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_COVID_DDJJ]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_COVID_DDJJ](
	[ID_COVID_DDDJJ] [int] IDENTITY(1,1) NOT NULL,
	[ID_PACIENTE] [int] NULL,
	[TEMPERATURA] [decimal](3, 1) NULL,
	[SINTOMAS] [bit] NULL,
	[CONTACTO_ESTRECHO] [bit] NULL,
	[CASO_SOSPECHOSO] [bit] NULL,
	[VIAJE] [bit] NULL,
	[DISTANCIA_SOCIAL] [bit] NULL,
	[LUGARES_CERRADOS] [bit] NULL,
	[FECHA_DDJJ] [date] NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
 CONSTRAINT [PK__T_COVID___9910AF3F7EE9263D] PRIMARY KEY CLUSTERED 
(
	[ID_COVID_DDDJJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DISPONIBILIDAD_HORARIA]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DISPONIBILIDAD_HORARIA](
	[ID_DISPONIBILIDAD] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_INIC] [date] NULL,
	[FECHA_FIN] [date] NULL,
	[HORA_DESDE] [time](7) NULL,
	[HORA_HASTA] [time](7) NULL,
	[OBSERVACIONES] [varchar](1) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[ID_PROFESIONAL] [int] NOT NULL,
	[ID_CENTRO] [int] NOT NULL,
	[LUNES] [bit] NOT NULL,
	[MARTES] [bit] NOT NULL,
	[MIERCOLES] [bit] NOT NULL,
	[JUEVES] [bit] NOT NULL,
	[VIERNES] [bit] NOT NULL,
 CONSTRAINT [PK__T_DISPON__30D97FEB2FC15D70] PRIMARY KEY CLUSTERED 
(
	[ID_DISPONIBILIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ESPECIALIDADES]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ESPECIALIDADES](
	[ID_ESPECIALIDADES] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[CODIGO_ESPECIALIDAD] [varchar](50) NULL,
 CONSTRAINT [PK__T_ESPECI__3FFA8988BB27A6AB] PRIMARY KEY CLUSTERED 
(
	[ID_ESPECIALIDADES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_HISTORIA_CLINICA]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HISTORIA_CLINICA](
	[ID_HISTORIA] [int] IDENTITY(1,1) NOT NULL,
	[TENSION] [bit] NULL,
	[TENSION_VALORES] [varchar](10) NULL,
	[DIABETES] [bit] NULL,
	[FUMADOR] [bit] NULL,
	[CARDIACO] [bit] NULL,
	[CIRROSIS] [bit] NULL,
	[ARTROSIS] [bit] NULL,
	[ARTRITIS_REUMATOIDEA] [bit] NULL,
	[HEMIPLEJIA] [bit] NULL,
	[ASMA] [bit] NULL,
	[MARCAPASOS] [bit] NULL,
	[PROTESIS] [bit] NULL,
	[CADERA_DERECHA] [bit] NULL,
	[CADERA_IZQUIERDA] [bit] NULL,
	[OTROS] [varchar](300) NULL,
	[ANTECEDENTES] [varchar](300) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HISTORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_OBRAS_PACIENTES]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OBRAS_PACIENTES](
	[ID_OBRA_PACIENTE] [int] IDENTITY(1,1) NOT NULL,
	[ID_PACIENTE] [int] NULL,
	[ID_PLAN] [int] NULL,
	[NRO_AFILIADO] [varchar](150) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[ID_OBRA_SOCIAL] [int] NULL,
	[ID_CENTRO] [int] NULL,
 CONSTRAINT [PK__T_OBRAS___D8C77511BBC7496E] PRIMARY KEY CLUSTERED 
(
	[ID_OBRA_PACIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_OBRAS_PLANES]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OBRAS_PLANES](
	[ID_PLANES] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[COD_PLAN] [varchar](20) NULL,
	[DESCRIPCION] [varchar](20) NULL,
	[ID_OBRA_SOCIAL] [int] NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_OBRAS_SOCIALES]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_OBRAS_SOCIALES](
	[ID_OBRA_SOCIAL] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[ID_CENTRO] [int] NULL,
 CONSTRAINT [PK__T_OBRAS_SOC_12397128476] PRIMARY KEY CLUSTERED 
(
	[ID_OBRA_SOCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PACIENTES]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PACIENTES](
	[ID_PACIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DOCUMENTO] [varchar](12) NOT NULL,
	[NRO_CONTACTO] [varchar](20) NOT NULL,
	[EMAIL_CONTACTO] [varchar](50) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[DOMICILIO] [varchar](100) NULL,
	[LOCALIDAD] [varchar](100) NULL,
	[NRO_LEGAJO] [varchar](10) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[ID_HISTORIA] [int] NULL,
 CONSTRAINT [PK__T_PACIE_12938319287] PRIMARY KEY CLUSTERED 
(
	[ID_PACIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PERSONAL]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PERSONAL](
	[ID_PERSONAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DOCUMENTO] [varchar](12) NOT NULL,
	[NRO_CONTACTO] [varchar](20) NOT NULL,
	[EMAIL_CONTACTO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[DOMICILIO] [varchar](100) NULL,
	[LOCALIDAD] [varchar](100) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERSONAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PLAN_TRATAMIENTO]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PLAN_TRATAMIENTO](
	[ID_TRATAMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[FECHA] [date] NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[ESTADO_PLAN] [varchar](20) NULL,
	[PROFESIONAL_DERIVANTE] [varchar](50) NULL,
	[MATRICULA] [varchar](10) NULL,
	[ESPECIALIDAD] [varchar](20) NULL,
	[DIAGNOSTICO_INGRESO] [varchar](300) NULL,
	[EVALUACION_INGRESO] [varchar](300) NULL,
	[DESCRIPCION_PLAN] [varchar](500) NULL,
	[OBJETIVO_PLAN] [varchar](300) NULL,
	[CONSENTIMIENTO_FIRMADO] [bit] NULL,
 CONSTRAINT [PK__T_PLAN_TRAT_32414124] PRIMARY KEY CLUSTERED 
(
	[ID_TRATAMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PROFESIONALES]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PROFESIONALES](
	[ID_PROFESIONAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DOCUMENTO] [varchar](12) NOT NULL,
	[NRO_CONTACTO] [varchar](20) NOT NULL,
	[EMAIL_CONTACTO] [varchar](50) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[DOMICILIO] [varchar](100) NULL,
	[LOCALIDAD] [varchar](100) NULL,
	[NRO_MATRICULA] [varchar](15) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
 CONSTRAINT [PK__T_PROF_097123967] PRIMARY KEY CLUSTERED 
(
	[ID_PROFESIONAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PROFESIONALES_DETALLE]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PROFESIONALES_DETALLE](
	[ID_PROFESIONALES_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROFESIONAL] [int] NULL,
	[ID_CENTRO] [int] NULL,
	[ID_ESPECIALIDAD] [int] NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
 CONSTRAINT [PK__T_PROF_DET_123863637] PRIMARY KEY CLUSTERED 
(
	[ID_PROFESIONALES_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_RESETPASS]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RESETPASS](
	[ID_RESETPASS] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](20) NOT NULL,
	[CLAVE_USUARIO] [varchar](20) NOT NULL,
	[EMAIL_CONTACTO] [varchar](50) NOT NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[ID_PERSONAL] [int] NULL,
	[ID_PROFESIONAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RESETPASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ROLES]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ROLES](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ROL] [varchar](20) NOT NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
 CONSTRAINT [PK__T_ROLE_23498672934] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TURNOS]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TURNOS](
	[ID_TURNO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PACIENTE] [int] NULL,
	[ID_PROFESIONAL] [int] NULL,
	[ID_OBRA_SOCIAL] [int] NULL,
	[ID_ESPECIALIDAD] [int] NULL,
	[ID_CENTRO] [int] NULL,
	[FECHA_TURNO] [date] NULL,
	[HORA_DESDE] [time](7) NULL,
	[HORA_HASTA] [time](7) NULL,
	[ESTADO] [varchar](20) NULL,
	[OBSERVACIONES] [varchar](100) NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[ID_PLAN_OBRA] [int] NULL,
	[NRO_ORDEN] [varchar](20) NULL,
	[NRO_AFILIADO] [varchar](50) NULL,
	[NRO_AUTORIZACION_OBRA] [varchar](50) NULL,
	[ID_PLAN_TRATAMIENTO] [int] NULL,
 CONSTRAINT [PK__T_TURNOS__F1C3D8734BE135DC] PRIMARY KEY CLUSTERED 
(
	[ID_TURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TURNOS_ESTADOS]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TURNOS_ESTADOS](
	[ID_ESTADO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ESTADO] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_USUARIOS]    Script Date: 29/10/2022 22:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](20) NOT NULL,
	[CLAVE_USUARIO] [varchar](20) NOT NULL,
	[ID_ROL] [int] NOT NULL,
	[USUARIO_ALTA] [int] NULL,
	[FECHA_ALTA] [date] NULL,
	[USUARIO_MOD] [int] NULL,
	[FECHA_MOD] [date] NULL,
	[USUARIO_BAJA] [int] NULL,
	[FECHA_BAJA] [date] NULL,
	[ID_PERSONAL] [int] NULL,
	[ID_PROFESIONAL] [int] NULL,
 CONSTRAINT [PK__T_USUARIOS_873948723] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_CENTROS] ON 

INSERT [dbo].[T_CENTROS] ([ID_CENTRO], [NOMBRE_CENTRO], [DOMICILIO_CENTRO], [LOCALIDAD_CENTRO], [EMAIL_CENTRO], [NRO_CONTACTO_1], [NRO_CONTACTO_2], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (1, N'Córdoba I', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2021-04-24' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_CENTROS] ([ID_CENTRO], [NOMBRE_CENTRO], [DOMICILIO_CENTRO], [LOCALIDAD_CENTRO], [EMAIL_CENTRO], [NRO_CONTACTO_1], [NRO_CONTACTO_2], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (2, N'Carlos Paz I', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2021-04-24' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_CENTROS] ([ID_CENTRO], [NOMBRE_CENTRO], [DOMICILIO_CENTRO], [LOCALIDAD_CENTRO], [EMAIL_CENTRO], [NRO_CONTACTO_1], [NRO_CONTACTO_2], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (3, N'Carlos Paz II', NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2021-04-24' AS Date), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_CENTROS] OFF
GO
SET IDENTITY_INSERT [dbo].[T_DISPONIBILIDAD_HORARIA] ON 

INSERT [dbo].[T_DISPONIBILIDAD_HORARIA] ([ID_DISPONIBILIDAD], [FECHA_INIC], [FECHA_FIN], [HORA_DESDE], [HORA_HASTA], [OBSERVACIONES], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PROFESIONAL], [ID_CENTRO], [LUNES], [MARTES], [MIERCOLES], [JUEVES], [VIERNES]) VALUES (1, CAST(N'2022-08-10' AS Date), CAST(N'2022-08-20' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), N'', 1, CAST(N'2022-07-10' AS Date), NULL, NULL, 2, CAST(N'2022-08-15' AS Date), 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[T_DISPONIBILIDAD_HORARIA] ([ID_DISPONIBILIDAD], [FECHA_INIC], [FECHA_FIN], [HORA_DESDE], [HORA_HASTA], [OBSERVACIONES], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PROFESIONAL], [ID_CENTRO], [LUNES], [MARTES], [MIERCOLES], [JUEVES], [VIERNES]) VALUES (2, CAST(N'2022-08-21' AS Date), CAST(N'2022-08-30' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), N'', 1, CAST(N'2022-07-10' AS Date), NULL, NULL, 2, CAST(N'2022-08-15' AS Date), 1, 1, 1, 0, 0, 1, 1)
INSERT [dbo].[T_DISPONIBILIDAD_HORARIA] ([ID_DISPONIBILIDAD], [FECHA_INIC], [FECHA_FIN], [HORA_DESDE], [HORA_HASTA], [OBSERVACIONES], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PROFESIONAL], [ID_CENTRO], [LUNES], [MARTES], [MIERCOLES], [JUEVES], [VIERNES]) VALUES (3, CAST(N'2022-08-31' AS Date), CAST(N'2022-08-31' AS Date), CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), NULL, 2, CAST(N'2022-08-13' AS Date), NULL, NULL, 2, CAST(N'2022-08-15' AS Date), 1, 2, 0, 1, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[T_DISPONIBILIDAD_HORARIA] OFF
GO
SET IDENTITY_INSERT [dbo].[T_ESPECIALIDADES] ON 

INSERT [dbo].[T_ESPECIALIDADES] ([ID_ESPECIALIDADES], [DESCRIPCION], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [CODIGO_ESPECIALIDAD]) VALUES (1, N'Kinesiología y Fisioterapia', 1, CAST(N'2021-04-24' AS Date), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_ESPECIALIDADES] ([ID_ESPECIALIDADES], [DESCRIPCION], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [CODIGO_ESPECIALIDAD]) VALUES (2, N'Quiropraxia', 1, CAST(N'2021-04-24' AS Date), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_ESPECIALIDADES] ([ID_ESPECIALIDADES], [DESCRIPCION], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [CODIGO_ESPECIALIDAD]) VALUES (3, N'Rehabilitacion de terapias deportivas', 1, CAST(N'2021-04-24' AS Date), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_ESPECIALIDADES] OFF
GO
SET IDENTITY_INSERT [dbo].[T_OBRAS_PACIENTES] ON 

INSERT [dbo].[T_OBRAS_PACIENTES] ([ID_OBRA_PACIENTE], [ID_PACIENTE], [ID_PLAN], [NRO_AFILIADO], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_OBRA_SOCIAL], [ID_CENTRO]) VALUES (2, 20, 3, N'1234578951321587869', 1, CAST(N'2022-03-22' AS Date), NULL, NULL, NULL, NULL, 5, NULL)
INSERT [dbo].[T_OBRAS_PACIENTES] ([ID_OBRA_PACIENTE], [ID_PACIENTE], [ID_PLAN], [NRO_AFILIADO], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_OBRA_SOCIAL], [ID_CENTRO]) VALUES (5, 23, 4, N'123489851231', 1, CAST(N'2022-03-22' AS Date), NULL, NULL, NULL, NULL, 5, NULL)
INSERT [dbo].[T_OBRAS_PACIENTES] ([ID_OBRA_PACIENTE], [ID_PACIENTE], [ID_PLAN], [NRO_AFILIADO], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_OBRA_SOCIAL], [ID_CENTRO]) VALUES (13, 19, 0, NULL, 1, CAST(N'2022-03-27' AS Date), NULL, NULL, NULL, NULL, 8, NULL)
SET IDENTITY_INSERT [dbo].[T_OBRAS_PACIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[T_OBRAS_PLANES] ON 

INSERT [dbo].[T_OBRAS_PLANES] ([ID_PLANES], [COD_PLAN], [DESCRIPCION], [ID_OBRA_SOCIAL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (CAST(1 AS Numeric(18, 0)), N'C300', N'PLAN C300', 2, 1, CAST(N'2022-03-08' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_OBRAS_PLANES] ([ID_PLANES], [COD_PLAN], [DESCRIPCION], [ID_OBRA_SOCIAL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (CAST(2 AS Numeric(18, 0)), N'C500', N'PLAN C500', 2, 1, CAST(N'2022-03-08' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_OBRAS_PLANES] ([ID_PLANES], [COD_PLAN], [DESCRIPCION], [ID_OBRA_SOCIAL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (CAST(5 AS Numeric(18, 0)), NULL, N'PLAN C700', 2, 1, CAST(N'2022-03-28' AS Date), NULL, NULL, 1, CAST(N'2022-03-28' AS Date))
SET IDENTITY_INSERT [dbo].[T_OBRAS_PLANES] OFF
GO
SET IDENTITY_INSERT [dbo].[T_OBRAS_SOCIALES] ON 

INSERT [dbo].[T_OBRAS_SOCIALES] ([ID_OBRA_SOCIAL], [DESCRIPCION], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_CENTRO]) VALUES (1, N'PARTICULAR', 1, CAST(N'2021-05-16' AS Date), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_OBRAS_SOCIALES] ([ID_OBRA_SOCIAL], [DESCRIPCION], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_CENTRO]) VALUES (2, N'OMINT', 1, CAST(N'2021-05-16' AS Date), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_OBRAS_SOCIALES] ([ID_OBRA_SOCIAL], [DESCRIPCION], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_CENTRO]) VALUES (3, N'SANCOR', 1, CAST(N'2021-05-16' AS Date), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_OBRAS_SOCIALES] OFF
GO
SET IDENTITY_INSERT [dbo].[T_PACIENTES] ON 

INSERT [dbo].[T_PACIENTES] ([ID_PACIENTE], [NOMBRE], [APELLIDO], [DOCUMENTO], [NRO_CONTACTO], [EMAIL_CONTACTO], [FECHA_NACIMIENTO], [DOMICILIO], [LOCALIDAD], [NRO_LEGAJO], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_HISTORIA]) VALUES (1, N'OLIVA', N'GASTON', N'321654', N'35160021456', N'gaston@gmail.com', NULL, NULL, NULL, NULL, 1, CAST(N'2022-08-14' AS Date), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_PACIENTES] ([ID_PACIENTE], [NOMBRE], [APELLIDO], [DOCUMENTO], [NRO_CONTACTO], [EMAIL_CONTACTO], [FECHA_NACIMIENTO], [DOMICILIO], [LOCALIDAD], [NRO_LEGAJO], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_HISTORIA]) VALUES (2, N'GASTON', N'OLIVA', N'3516006833', N'3516006821', N'gaston@gmail.com', NULL, NULL, NULL, NULL, 1, CAST(N'2022-08-14' AS Date), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_PACIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[T_PERSONAL] ON 

INSERT [dbo].[T_PERSONAL] ([ID_PERSONAL], [NOMBRE], [APELLIDO], [DOCUMENTO], [NRO_CONTACTO], [EMAIL_CONTACTO], [FECHA_NACIMIENTO], [DOMICILIO], [LOCALIDAD], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (1, N'PEPE', N'LOPEPEZ', N'15948', N'156926547', N'PEPELOPEZ@GMAIL.COM', CAST(N'1991-03-07' AS Date), N'CALLE 1234 Barrio: BARRIO2', N'LOCALIDAD234', 1, CAST(N'2022-08-15' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_PERSONAL] ([ID_PERSONAL], [NOMBRE], [APELLIDO], [DOCUMENTO], [NRO_CONTACTO], [EMAIL_CONTACTO], [FECHA_NACIMIENTO], [DOMICILIO], [LOCALIDAD], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (2, N'GASTON', N'OLIVA', N'147852', N'1234657', N'GASTONOLIVA22@GMAIL.COM', CAST(N'1991-07-10' AS Date), N'CALLE 1234 Barrio: BARRIO', N'LOCALIDAD', 1, CAST(N'2022-10-21' AS Date), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_PERSONAL] OFF
GO
SET IDENTITY_INSERT [dbo].[T_PLAN_TRATAMIENTO] ON 

INSERT [dbo].[T_PLAN_TRATAMIENTO] ([ID_TRATAMIENTO], [DESCRIPCION], [FECHA], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ESTADO_PLAN], [PROFESIONAL_DERIVANTE], [MATRICULA], [ESPECIALIDAD], [DIAGNOSTICO_INGRESO], [EVALUACION_INGRESO], [DESCRIPCION_PLAN], [OBJETIVO_PLAN], [CONSENTIMIENTO_FIRMADO]) VALUES (1, NULL, CAST(N'2022-08-14' AS Date), 2, CAST(N'2022-08-14' AS Date), 2, CAST(N'2022-08-15' AS Date), NULL, NULL, N'EN CURSO', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[T_PLAN_TRATAMIENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[T_PROFESIONALES] ON 

INSERT [dbo].[T_PROFESIONALES] ([ID_PROFESIONAL], [NOMBRE], [APELLIDO], [DOCUMENTO], [NRO_CONTACTO], [EMAIL_CONTACTO], [FECHA_NACIMIENTO], [DOMICILIO], [LOCALIDAD], [NRO_MATRICULA], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (1, N'RODOLFO', N'MONDOLFO', N'3216549', N'3511526547', N'EMAILDELPACIENTE@GMAIL.COM', CAST(N'1980-01-01' AS Date), N'UNA CALLE 123 Barrio: UN BARRIO', N'UNA LOCALIDAD', N'12345', 1, CAST(N'2022-06-26' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_PROFESIONALES] ([ID_PROFESIONAL], [NOMBRE], [APELLIDO], [DOCUMENTO], [NRO_CONTACTO], [EMAIL_CONTACTO], [FECHA_NACIMIENTO], [DOMICILIO], [LOCALIDAD], [NRO_MATRICULA], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (2, N'MARCELA', N'PACCELLA', N'98745654', N'3516598745', N'OTROMAIL@GMAIL.COM', CAST(N'1980-02-02' AS Date), N'DOS CALLE 6547 Barrio: DOS BARRIO', N'DOS LOCALIDAD', N'98745', 1, CAST(N'2022-06-26' AS Date), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_PROFESIONALES] OFF
GO
SET IDENTITY_INSERT [dbo].[T_PROFESIONALES_DETALLE] ON 

INSERT [dbo].[T_PROFESIONALES_DETALLE] ([ID_PROFESIONALES_DETALLE], [ID_PROFESIONAL], [ID_CENTRO], [ID_ESPECIALIDAD], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (1, 1, 1, 1, 1, CAST(N'2022-06-26' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_PROFESIONALES_DETALLE] ([ID_PROFESIONALES_DETALLE], [ID_PROFESIONAL], [ID_CENTRO], [ID_ESPECIALIDAD], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (2, 1, 2, 1, 1, CAST(N'2022-06-26' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_PROFESIONALES_DETALLE] ([ID_PROFESIONALES_DETALLE], [ID_PROFESIONAL], [ID_CENTRO], [ID_ESPECIALIDAD], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (3, 1, 3, 1, 1, CAST(N'2022-06-26' AS Date), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_PROFESIONALES_DETALLE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_RESETPASS] ON 

INSERT [dbo].[T_RESETPASS] ([ID_RESETPASS], [NOMBRE_USUARIO], [CLAVE_USUARIO], [EMAIL_CONTACTO], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PERSONAL], [ID_PROFESIONAL]) VALUES (1, N'GOLIVA', N'spB3ksoFMD', N'GASTONOLIVA22@GMAIL.COM', 1, CAST(N'2022-10-21' AS Date), NULL, NULL, 1, CAST(N'2022-10-21' AS Date), 2, 0)
SET IDENTITY_INSERT [dbo].[T_RESETPASS] OFF
GO
SET IDENTITY_INSERT [dbo].[T_ROLES] ON 

INSERT [dbo].[T_ROLES] ([ID_ROL], [NOMBRE_ROL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (1, N'DIRECTIVO', 1, CAST(N'2021-09-29' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_ROLES] ([ID_ROL], [NOMBRE_ROL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (2, N'ADMINISTRATIVO', 1, CAST(N'2021-10-30' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_ROLES] ([ID_ROL], [NOMBRE_ROL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA]) VALUES (3, N'PROFESIONAL', 1, CAST(N'2021-10-30' AS Date), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[T_TURNOS] ON 

INSERT [dbo].[T_TURNOS] ([ID_TURNO], [ID_PACIENTE], [ID_PROFESIONAL], [ID_OBRA_SOCIAL], [ID_ESPECIALIDAD], [ID_CENTRO], [FECHA_TURNO], [HORA_DESDE], [HORA_HASTA], [ESTADO], [OBSERVACIONES], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PLAN_OBRA], [NRO_ORDEN], [NRO_AFILIADO], [NRO_AUTORIZACION_OBRA], [ID_PLAN_TRATAMIENTO]) VALUES (1, 2, 1, 5, 1, 2, NULL, NULL, NULL, N'REPROGRAMAR', NULL, 1, CAST(N'2022-08-14' AS Date), 2, CAST(N'2022-08-15' AS Date), NULL, NULL, 3, NULL, N'1234', NULL, NULL)
INSERT [dbo].[T_TURNOS] ([ID_TURNO], [ID_PACIENTE], [ID_PROFESIONAL], [ID_OBRA_SOCIAL], [ID_ESPECIALIDAD], [ID_CENTRO], [FECHA_TURNO], [HORA_DESDE], [HORA_HASTA], [ESTADO], [OBSERVACIONES], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PLAN_OBRA], [NRO_ORDEN], [NRO_AFILIADO], [NRO_AUTORIZACION_OBRA], [ID_PLAN_TRATAMIENTO]) VALUES (2, 1, 1, 2, 1, 1, CAST(N'2022-10-11' AS Date), CAST(N'12:15:00' AS Time), NULL, N'OTORGADO', NULL, 1, CAST(N'2022-08-14' AS Date), 2, CAST(N'2022-10-10' AS Date), NULL, NULL, 1, NULL, N'255', NULL, NULL)
INSERT [dbo].[T_TURNOS] ([ID_TURNO], [ID_PACIENTE], [ID_PROFESIONAL], [ID_OBRA_SOCIAL], [ID_ESPECIALIDAD], [ID_CENTRO], [FECHA_TURNO], [HORA_DESDE], [HORA_HASTA], [ESTADO], [OBSERVACIONES], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PLAN_OBRA], [NRO_ORDEN], [NRO_AFILIADO], [NRO_AUTORIZACION_OBRA], [ID_PLAN_TRATAMIENTO]) VALUES (3, 2, 1, 5, 1, 2, NULL, NULL, NULL, N'CANCELADO', NULL, 2, CAST(N'2022-08-14' AS Date), 2, CAST(N'2022-08-15' AS Date), 2, CAST(N'2022-10-02' AS Date), 3, NULL, N'1234', N'123456', 1)
SET IDENTITY_INSERT [dbo].[T_TURNOS] OFF
GO
SET IDENTITY_INSERT [dbo].[T_TURNOS_ESTADOS] ON 

INSERT [dbo].[T_TURNOS_ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (CAST(1 AS Numeric(18, 0)), N'CANCELADO')
INSERT [dbo].[T_TURNOS_ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (CAST(2 AS Numeric(18, 0)), N'OTORGADO')
INSERT [dbo].[T_TURNOS_ESTADOS] ([ID_ESTADO], [ESTADO]) VALUES (CAST(3 AS Numeric(18, 0)), N'EN ESPERA')
SET IDENTITY_INSERT [dbo].[T_TURNOS_ESTADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[T_USUARIOS] ON 

INSERT [dbo].[T_USUARIOS] ([ID_USUARIO], [NOMBRE_USUARIO], [CLAVE_USUARIO], [ID_ROL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PERSONAL], [ID_PROFESIONAL]) VALUES (2, N'admin', N'admin', 1, 1, CAST(N'2021-09-29' AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_USUARIOS] ([ID_USUARIO], [NOMBRE_USUARIO], [CLAVE_USUARIO], [ID_ROL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PERSONAL], [ID_PROFESIONAL]) VALUES (3, N'administrativo', N'administrativo', 2, 1, CAST(N'2021-10-30' AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_USUARIOS] ([ID_USUARIO], [NOMBRE_USUARIO], [CLAVE_USUARIO], [ID_ROL], [USUARIO_ALTA], [FECHA_ALTA], [USUARIO_MOD], [FECHA_MOD], [USUARIO_BAJA], [FECHA_BAJA], [ID_PERSONAL], [ID_PROFESIONAL]) VALUES (4, N'profesional', N'profesional', 3, 1, CAST(N'2021-10-30' AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_USUARIOS] OFF
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA] ADD  CONSTRAINT [DF__T_DISPONI__LUNES__70DDC3D8]  DEFAULT ((0)) FOR [LUNES]
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA] ADD  CONSTRAINT [DF__T_DISPONI__MARTE__71D1E811]  DEFAULT ((0)) FOR [MARTES]
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA] ADD  CONSTRAINT [DF__T_DISPONI__MIERC__72C60C4A]  DEFAULT ((0)) FOR [MIERCOLES]
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA] ADD  CONSTRAINT [DF__T_DISPONI__JUEVE__73BA3083]  DEFAULT ((0)) FOR [JUEVES]
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA] ADD  CONSTRAINT [DF__T_DISPONI__VIERN__74AE54BC]  DEFAULT ((0)) FOR [VIERNES]
GO
ALTER TABLE [dbo].[T_COBROS]  WITH CHECK ADD  CONSTRAINT [FK_ID_TURNOS_TCOBROS] FOREIGN KEY([ID_TURNO])
REFERENCES [dbo].[T_TURNOS] ([ID_TURNO])
GO
ALTER TABLE [dbo].[T_COBROS] CHECK CONSTRAINT [FK_ID_TURNOS_TCOBROS]
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA]  WITH CHECK ADD  CONSTRAINT [FK__T_DISPONI__ID_CE__76969D2E] FOREIGN KEY([ID_CENTRO])
REFERENCES [dbo].[T_CENTROS] ([ID_CENTRO])
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA] CHECK CONSTRAINT [FK__T_DISPONI__ID_CE__76969D2E]
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA]  WITH CHECK ADD  CONSTRAINT [FK__T_DISPONI__ID_PR__6FE99F9F] FOREIGN KEY([ID_PROFESIONAL])
REFERENCES [dbo].[T_PROFESIONALES] ([ID_PROFESIONAL])
GO
ALTER TABLE [dbo].[T_DISPONIBILIDAD_HORARIA] CHECK CONSTRAINT [FK__T_DISPONI__ID_PR__6FE99F9F]
GO
ALTER TABLE [dbo].[T_OBRAS_PLANES]  WITH CHECK ADD FOREIGN KEY([ID_OBRA_SOCIAL])
REFERENCES [dbo].[T_OBRAS_SOCIALES] ([ID_OBRA_SOCIAL])
GO
ALTER TABLE [dbo].[T_OBRAS_PLANES]  WITH CHECK ADD FOREIGN KEY([ID_OBRA_SOCIAL])
REFERENCES [dbo].[T_OBRAS_SOCIALES] ([ID_OBRA_SOCIAL])
GO
ALTER TABLE [dbo].[T_PACIENTES]  WITH CHECK ADD FOREIGN KEY([ID_HISTORIA])
REFERENCES [dbo].[T_HISTORIA_CLINICA] ([ID_HISTORIA])
GO
ALTER TABLE [dbo].[T_PACIENTES]  WITH CHECK ADD FOREIGN KEY([ID_HISTORIA])
REFERENCES [dbo].[T_HISTORIA_CLINICA] ([ID_HISTORIA])
GO
ALTER TABLE [dbo].[T_PROFESIONALES_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_ID_CENTRO_TCENTROS2] FOREIGN KEY([ID_CENTRO])
REFERENCES [dbo].[T_CENTROS] ([ID_CENTRO])
GO
ALTER TABLE [dbo].[T_PROFESIONALES_DETALLE] CHECK CONSTRAINT [FK_ID_CENTRO_TCENTROS2]
GO
ALTER TABLE [dbo].[T_PROFESIONALES_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_ID_ESPECIALIDAD_T_ESPECIALIDADES] FOREIGN KEY([ID_ESPECIALIDAD])
REFERENCES [dbo].[T_ESPECIALIDADES] ([ID_ESPECIALIDADES])
GO
ALTER TABLE [dbo].[T_PROFESIONALES_DETALLE] CHECK CONSTRAINT [FK_ID_ESPECIALIDAD_T_ESPECIALIDADES]
GO
ALTER TABLE [dbo].[T_PROFESIONALES_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_ID_PROFESIONAL_TPROFESIONALES2] FOREIGN KEY([ID_PROFESIONAL])
REFERENCES [dbo].[T_PROFESIONALES] ([ID_PROFESIONAL])
GO
ALTER TABLE [dbo].[T_PROFESIONALES_DETALLE] CHECK CONSTRAINT [FK_ID_PROFESIONAL_TPROFESIONALES2]
GO
ALTER TABLE [dbo].[T_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_ESPECIALIDAD_TCENTRO2] FOREIGN KEY([ID_CENTRO])
REFERENCES [dbo].[T_CENTROS] ([ID_CENTRO])
GO
ALTER TABLE [dbo].[T_TURNOS] CHECK CONSTRAINT [FK_ESPECIALIDAD_TCENTRO2]
GO
ALTER TABLE [dbo].[T_TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_PACIENTE_TPACIENTES2] FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[T_PACIENTES] ([ID_PACIENTE])
GO
ALTER TABLE [dbo].[T_TURNOS] CHECK CONSTRAINT [FK_ID_PACIENTE_TPACIENTES2]
GO
ALTER TABLE [dbo].[T_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_ROL_TROLES] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[T_ROLES] ([ID_ROL])
GO
ALTER TABLE [dbo].[T_USUARIOS] CHECK CONSTRAINT [FK_ID_ROL_TROLES]
GO
